<section class="main poppins">
    <h1>PelisUP!</h1>
    <h4>Plataforma para ver películas y series 😉</h4>
</section>
<section class="search-bar">
  <img src="../assets/img/search-icon.png" width="30" height="30" style="margin-left: 10px ;" alt="">
  <input type="text" placeholder="Buscar películas y series">
</section>
<section class="categories poppins">
  <div class="category1">Todos</div>
  <div class="category2">Películas</div>
  <div class="category3">Series</div>
</section>
<div class="all-text poppins">
<h3>Todos </h3>
<p> (120)</p>
</div>
<app-card></app-card>